main {
  padding: 85px 140px;
  background: #191919;
}

.head {
  position: relative;
}

.top {
  width: 120px;
  height: 100px;
  background: #4f77ff;
  border-radius: 50% 50% 8% 8% / 60% 60% 10% 10%;
}

.bottom {
  width: 80px;
  height: 30px;
  border-radius: 0 0 25% 25% / 0 0 65% 65%;
  background: #4f77ff;
  margin: 0 auto;
}

.eye {
  width: 40px;
  height: 40px;
  background: #191919;
  position: absolute;
  border-radius: 50%;
}

.eye1 {
  top: 53px;
  left: 15px;
}

.eye2 {
  top: 53px;
  left: 65px;
}

.nose {
  width: 20px;
  height: 20px;
  background: #191919;
  position: absolute;
  border-radius: 50%;
  top: 91px;
  left: 50px;
}

.tooth {
  width: 10px;
  height: 10px;
  background: #191919;
  position: absolute;
  border-radius: 10px 10px 0 0;
  top: 120px;
}

.t1 {
  left: 40px;
}

.t2 {
  left: 55px;
}

.t3 {
  left: 70px;
}
