main {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #6592cf;
  flex-direction: column;
  z-index: -1;
}

.top {
  display: flex;
  background: transparent;
}

.top div {
  width: 20px;
  height: 110px;
  position: relative;
  border-radius: 15px 15px 0 0;
  background: #060f55;
}

.top div:nth-child(2n) {
  background: #6592cf;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.top div:nth-child(2n):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #060f55;
  z-index: -1;
}

.middle {
  height: 90px;
  width: 140px;
  background: #060f55;
  border-radius: 0 0 70px 70px;
}

.bottom {
  width: 20px;
  height: 60px;
  background: #060f55;
  margin-top: -10px;
}
