main {
  background: #0b2429;
}

div {
  width: 140px;
  height: 140px;
  border-top: 70px solid #f3ac3c;
  border-left: 70px solid #f3ac3c;
  border-right: 70px solid transparent;
  border-bottom: 70px solid transparent;
  box-sizing: border-box;
}
