main {
  background-color: #6592cf;
}

div {
  background-color: #243d83;
  margin: 75px 50px 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div div {
  width: 50px;
  height: 50px;
  background: #eeb850;
  border-radius: 25px;
  box-shadow: 0 0 0 50px #243d83, 0 0 0 100px #6592cf;
  margin: 0;
}
