body {
    margin: 0;
    background-color: #6592CF;
}

div {
    background-color: #243D83;
    margin: 75px 50px 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div div {
    width: 50px;
    height: 50px;
    background: #EEB850;
    border-radius: 25px;
    box-shadow: 0 0 0 50px #243D83,
    0 0 0 100px #6592CF;
    margin: 0;
}