.hair {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    border-radius: 50%;
    background: #FFF1C1;
  }
  
  .eye {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 90px;
    background: #FFF1C1;
    border-radius: 50%;
  }